/* Fix Pygments Monokai theme */

/*
div.highlight {
    border-radius: 5px !important;
}

div.highlight, div.highlight pre {
    background: #272822 !important;
    background-color: #272822 !important;
    color: #f8f8f2 !important;
    border: none !important;
}
*/