########################
# Coding style         #
#######################

flake8
pep8-naming

#######################
# Testing             #
#######################

pytest
pytest-cov

#######################
# Documentation       #
#######################

sphinx
guzzle_sphinx_theme
autoapi
plantweb
